*{ padding: 0; margin: 0; }

body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}


// all the coool container in the middle
.container{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// player I name | player II name
form{
    user-select: none;
    text-align: center;
    padding: 20px;
}
form input{
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 10px 5px;
    border-radius: 20px;
    margin: 10px 0;
}


// it's (someone) time!
.time_cont{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    #time{
        padding: 20px;
    }
}

//button container/button in the bottom of the main container
.btn_cont{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    button{
        margin: 10px auto;
        border: 0;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: cadetblue;
        &:hover{
            cursor: pointer;
            color: white;
            background-color: #416a6b;
        }
        &:active{
            font-size: 18px;
        }
    }
}

// the cute cat image with a gun
img{
    position: absolute;
    border-radius: 10px 10px 0 0;
    user-select: none;
}